{% extends 'base.html' %}
{% block content %}
      <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Tambah Anggota</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
              <li class="breadcrumb-item active">Tambah Anggota Baru</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            {% if sukses is defined and sukses == 0 %}
              <div class="alert alert-danger alert-dismissible">
                <button class="close" type="button" data-dismiss="alert" aria-hidden="true">x</button>
                <h5>
                  <i class="icon fas fa-exclamation-triangle"></i>
                  Error!
                </h5>
                Semua Isian pada Form Tambah Anggota Harus Diisi, Silahkan Lengkapi Isian yang Masih Kosong !
              </div>
            {% endif %}
            {% if sukses == 1 %}
              <div class="alert alert-success alert-dismissible">
                <button class="close" type="button" data-dismiss="alert" aria-hidden="true">x</button>
                <h5>
                  <i class="icon fas fa-circle-check"></i>
                  Sukses!
                </h5>
                Data Anggota Baru Berhasil Ditambahkan !
              </div>
            {% endif %}
            <div class="card card-default">
              <div class="card-header">
                <h3 class="card-title"><b>Form Tambah Anggota</b></h3>
              </div>
              <div class="card-body p-0">
                <form action="/tambah-anggota" method="post" enctype="multipart/form-data">
                  <div class="bs-stepper">
                    <div class="bs-stepper-header" role="tablist">
                      <!-- your steps here -->
                      <div class="step" data-target="#logins-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
                          <span class="bs-stepper-circle">1</span>
                          <span class="bs-stepper-label">Data Diri</span>
                        </button>
                      </div>
                      <div class="line"></div>
                      <div class="step" data-target="#information-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                          <span class="bs-stepper-circle">2</span>
                          <span class="bs-stepper-label">File Pendukung</span>
                        </button>
                      </div>
                    </div>
                    <div class="bs-stepper-content">
                      <!-- your steps content here -->
                      <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger"  style="padding: 0 5px 0 5px;">
                        <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="exampleInputEmail1">Nama</label>
                                  <input type="text" name="nama" value="{% if dt is defined and dt.get('nama') != '' %} {{ dt.get('nama') }} {% endif %}" class="form-control {% if error is defined and error.get('nama') != '' %} is-invalid {% endif %}" placeholder="{% if error is defined %} {% if error.get('nama') != '' %} {{error.get('nama')}} {% endif %} {% else %} {{'Masukkan Nama Lengkap Kamu !'}} {% endif %}">
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputPassword1">Jenis Kelamin</label>
                                  <select name="jk" class="form-control {% if error is defined and error.get('jk') != '' %} is-invalid  {% endif %}" id="">
                                    <option value="" {% if dt is defined and dt.get('jk') == '' %} selected {% elif dt is not defined %} selected {% endif %} disabled>
                                      {% if error is defined %} 
                                        {% if error.get('jk') != '' %} 
                                          {{error.get('jk')}} 
                                        {% endif %} 
                                        {% else %} 
                                          {{'Silahkan Pilih Jenis Kelamin yang Sesuai !'}} 
                                        {% endif %}
                                      </option>
                                    <option value="1" {% if dt is defined and dt.get('jk') == '1' %} selected {% endif %}>Laki - laki</option>
                                    <option value="0" {% if dt is defined and dt.get('jk') == '0' %} selected {% endif %}>Perempuan</option>
                                  </select>
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputPassword1">Nomor Telepon</label>
                                  <input type="text" name="tlp" value="{% if dt is defined and dt.get('tlp') != '' %} {{ dt.get('tlp') }} {% endif %}" class="form-control {% if error is defined and error.get('tlp') != '' %} is-invalid {% endif %}" id="phoneNumber" 
                                  placeholder="{% if error is defined %} {% if error.get('tlp') != '' %} {{error.get('tlp')}} {% endif %} {% else %} {{'Masukkan Nomer Telepon (+62) !'}} {% endif %}">
                                </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                  <label for="exampleInputEmail1">Tempat & Tanggal Lahir</label>
                                  <input type="text" name="ttl" value="{% if dt is defined and dt.get('ttl') != '' %} {{ dt.get('ttl') }} {% endif %}" class="form-control {% if error is defined and error.get('ttl') != '' %} is-invalid {% endif %}" 
                                  placeholder="{% if error is defined %} {% if error.get('ttl') != '' %} {{error.get('ttl')}} {% endif %} {% else %} {{'Tulis Sesuai format berikut, Contoh.(Jepara, 19 April 2000)'}} {% endif %}">
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputPassword1">Alamat</label>
                                  <textarea name="alamat" id="" class="form-control {% if error is defined and error.get('alamat') != '' %} is-invalid {% endif %}" 
                                  placeholder="{% if error is defined %} {% if error.get('alamat') != '' %} {{error.get('alamat')}} {% endif %} {% else %} {{'Alamat Anggota Saat Ini !'}} {% endif %}">{% if dt is defined and dt.get('alamat') != '' %} {{ dt.get('alamat') }} {% endif %}</textarea>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-primary" onclick="stepper.next()">Selanjutnya</a>
                      </div>
                      <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger" style="padding: 0 5px 0 5px;">
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label for="exampleInputFile">Foto Suami</label>
                                      <div class="input-group">
                                          <div class="custom-file">
                                          <input type="file" name="ft_sm" class="custom-file-input {% if error is defined and error.get('ft_sm') != '' %} is-invalid {% endif %}" id="exampleInputFile">
                                          <label class="custom-file-label" for="exampleInputFile">{% if error is defined %} {% if error.get('ft_sm') != '' %} {{error.get('ft_sm')}} {% endif %} {% else %} {{'Upload Foto Suami !'}} {% endif %}</label>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label for="exampleInputFile">Foto KTP Suami</label>
                                      <div class="input-group">
                                          <div class="custom-file">
                                          <input type="file" name="ft_ktp_sm" class="custom-file-input {% if error is defined and error.get('ft_ktp_sm') != '' %} is-invalid {% endif %}" id="exampleInputFile">
                                          <label class="custom-file-label" for="exampleInputFile">{% if error is defined %} {% if error.get('ft_ktp_sm') != '' %} {{error.get('ft_ktp_sm')}} {% endif %} {% else %} {{'Upload Foto KTP Suami !'}} {% endif %}</label>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputFile">Foto Istri</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                        <input type="file" name="ft_is" class="custom-file-input {% if error is defined and error.get('ft_is') != '' %} is-invalid {% endif %}" id="exampleInputFile">
                                        <label class="custom-file-label" for="exampleInputFile">{% if error is defined %} {% if error.get('ft_is') != '' %} {{error.get('ft_is')}} {% endif %} {% else %} {{'Upload Foto Istri !'}} {% endif %}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputFile">Foto KTP Istri</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                        <input type="file" name="ft_ktp_is" class="custom-file-input {% if error is defined and error.get('ft_ktp_is') != '' %} is-invalid {% endif %}" id="exampleInputFile">
                                        <label class="custom-file-label" for="exampleInputFile">{% if error is defined %} {% if error.get('ft_ktp_is') != '' %} {{error.get('ft_ktp_is')}} {% endif %} {% else %} {{'Upload Foto KTP Istri !'}} {% endif %}</label>
                                        </div>
                                    </div>
                                </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="exampleInputFile">Foto Kartu Keluarga</label>
                              <div class="input-group">
                                  <div class="custom-file">
                                  <input type="file" name="ft_kk" class="custom-file-input {% if error is defined and error.get('ft_kk') != '' %} is-invalid {% endif %}" id="exampleInputFile">
                                  <label class="custom-file-label" for="exampleInputFile">{% if error is defined %} {% if error.get('ft_kk') != '' %} {{error.get('ft_kk')}} {% endif %} {% else %} {{'Upload Foto Kartu Keluarga (KK) !'}} {% endif %}</label>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="exampleInputFile">Foto Kendaraan</label>
                              <div class="input-group">
                                  <div class="custom-file">
                                  <input type="file" name="ft_knd" class="custom-file-input {% if error is defined and error.get('ft_knd') != '' %} is-invalid {% endif %}" id="exampleInputFile">
                                  <label class="custom-file-label" for="exampleInputFile">{% if error is defined %} {% if error.get('ft_knd') != '' %} {{error.get('ft_knd')}} {% endif %} {% else %} {{'Upload Foto Kendaraan yang Dimiliki !'}} {% endif %}</label>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="exampleInputFile">Sertifikat Tanah</label>
                              <div class="input-group">
                                  <div class="custom-file">
                                  <input type="file" name="ft_srf_tnh" class="custom-file-input {% if error is defined and error.get('ft_srf_tnh') != '' %} is-invalid {% endif %}" id="exampleInputFile">
                                  <label class="custom-file-label" for="exampleInputFile">{% if error is defined %} {% if error.get('ft_srf_tnh') != '' %} {{error.get('ft_srf_tnh')}} {% endif %} {% else %} {{'Upload Foto Sertifikat Tanah !'}} {% endif %}</label>
                                  </div>
                              </div>
                          </div>
                          
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label for="exampleInputFile">Foto STNK</label>
                                      <div class="input-group">
                                          <div class="custom-file">
                                          <input type="file" name="ft_stnk" class="custom-file-input {% if error is defined and error.get('ft_stnk') != '' %} is-invalid {% endif %}" id="exampleInputFile">
                                          <label class="custom-file-label" for="exampleInputFile">{% if error is defined %} {% if error.get('ft_stnk') != '' %} {{error.get('ft_stnk')}} {% endif %} {% else %} {{'Upload Foto STNK !'}} {% endif %}</label>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label for="exampleInputFile">Foto BPKB</label>
                                      <div class="input-group">
                                          <div class="custom-file">
                                          <input type="file" name="ft_bpkb" class="custom-file-input {% if error is defined and error.get('ft_bpkb') != '' %} is-invalid {% endif %}" id="exampleInputFile">
                                          <label class="custom-file-label" for="exampleInputFile">{% if error is defined %} {% if error.get('ft_bpkb') != '' %} {{error.get('ft_bpkb')}} {% endif %} {% else %} {{'Upload Foto BPKB !'}} {% endif %}</label>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label for="exampleInputFile">Foto Rumah</label>
                                      <div class="input-group">
                                          <div class="custom-file">
                                          <input type="file" name="ft_rmh" class="custom-file-input {% if error is defined and error.get('ft_rmh') != '' %} is-invalid {% endif %}" id="exampleInputFile">
                                          <label class="custom-file-label" for="exampleInputFile">{% if error is defined %} {% if error.get('ft_rmh') != '' %} {{error.get('ft_rmh')}} {% endif %} {% else %} {{'Upload Foto Depan Rumah !'}} {% endif %}</label>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        <a class="btn btn-default" onclick="stepper.previous()">Kembali</a>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
