{% extends 'base.html' %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Home</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active">Home</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Daftar Anggota (Perempuan)</h3>

              <div class="card-tools">
                <form action="/" method="get">
                  <div class="input-group input-group-sm" style="width: 250px;">
                    <input type="text" name="anggotaperempuan" class="form-control float-right" placeholder="Search">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Nama</th>
                    <th>Telepon</th>
                    <th>
                      <center>Aksi</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% if dataperempuan != () %}
                  {% set no = 1 %}
                  {% for dt in dataperempuan %}
                  <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{dt[1]}}</td>
                    <td>{{dt[3]}}</td>
                    <td>
                      <center><a href="" data-toggle="modal"
                        data-target="#modal-lg-pr{{loop.index}}" class="btn btn-info btn-sm">Detail</a></center>


                      <div class="modal fade" id="modal-lg-pr{{loop.index}}">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header bg-primary">
                              <h4 class="modal-title">Detail Anggota</h4>
                              <div class="">
                                <button id="downloadP{{ loop.index }}" class="btn btn-sm btn-success">Cetak PDF</button>
                                <a href="/edit/{{dt[0]}}" class="btn btn-sm btn-warning">
                                  Edit
                                </a>
                                <a href="/hapus/{{dt[0]}}" class="btn btn-sm btn-danger">
                                  Hapus
                                </a>
                              </div>
                            </div>
                            <div class="modal-body">
                              <div class="row" id="printdata">
                                <div class="col-md-12"><h5><b>Data Diri</b></h5></div>
                                <div class="col-md-6">
                                  <h5>Nama : <br> &nbsp &nbsp <b>{{dt[1]}}</b></h5>
                                </div>
                                <script>
                                  document.getElementById('downloadP{{ loop.index }}').addEventListener('click', ()=>{
                                    printJS({
                                      printable: [
                                        "{{ url_for('static', filename='images/suami/'+dt[5]) }}", 
                                        "{{ url_for('static', filename='images/istri/'+dt[6]) }}", 
                                        "{{ url_for('static', filename='images/ktp/suami/'+dt[7]) }}",
                                        "{{ url_for('static', filename='images/ktp/istri/'+dt[8]) }}",
                                        "{{ url_for('static', filename='images/kk/'+dt[9]) }}",
                                        "{{ url_for('static', filename='images/kendaraan/'+dt[10]) }}",
                                        "{{ url_for('static', filename='images/sertifikat_tanah/'+dt[11]) }}",
                                        "{{ url_for('static', filename='images/stnk/'+dt[12]) }}",
                                        "{{ url_for('static', filename='images/bpkb/'+dt[13]) }}",
                                        "{{ url_for('static', filename='images/rmh/'+dt[15]) }}"
                                      ],
                                      type: 'image',
                                      header: 'File Pendukung : {{ dt[1] }}',
                                      imageStyle: 'width:50%;margin-bottom:20px;'
                                    })
                                  })
                                </script>
                                <div class="col-md-6">
                                  <h5>Tempat Tanggal Lahir :  <br> &nbsp &nbsp <b>{{dt[2]}}</b></h5>
                                </div>
                                <div class="col-md-6">
                                  <h5>Nomor Telepon :  <br> &nbsp &nbsp <b>{{dt[3]}}</b></h5>
                                </div>
                                <div class="col-md-6">
                                  <h5>Jenis Kelamin :  <br> &nbsp &nbsp <b>
                                    {% if dt[14] == 0 %}
                                      {{'Perempuan'}}
                                    {% elif dt[14] == 1%}
                                      {{'Laki-laki'}}
                                    {% else %}
                                      {{'-'}}
                                    {% endif %}
                                  </b></h5>
                                </div>
                                <div class="col-md-12">
                                  <h5>Alamat :  <br> &nbsp &nbsp <b>{{dt[4]}}</b></h5>
                                </div>
                                <div class="col-md-12 mt-3"><h5><b>File Pendukung</b></h5></div>

                                <div class="col-md-12">
                                  <h5>Foto Suami :  <br> <center><img width="100%" src="{{ url_for('static', filename='images/suami/'+dt[5]) }}" alt="" srcset=""></center></h5>
                                </div>
                                <div class="col-md-12">
                                  <h5>Foto Istri :  <br> <center><img width="100%" src="{{ url_for('static', filename='images/istri/'+dt[6]) }}" alt="" srcset=""></center></h5>
                                </div>
                                <div class="col-md-12">
                                  <h5>Foto KTP Suami :  <br> <center><img width="100%" src="{{ url_for('static', filename='images/ktp/suami/'+dt[7]) }}" alt="" srcset=""></center></h5>
                                </div>
                                <div class="col-md-12">
                                  <h5>Foto KTP Istri :  <br> <center><img width="100%" src="{{ url_for('static', filename='images/ktp/istri/'+dt[8]) }}" alt="" srcset=""></center></h5>
                                </div>
                                <div class="col-md-12">
                                  <h5>Foto Kartu Keluarga :  <br> <center><img width="100%" src="{{ url_for('static', filename='images/kk/'+dt[9]) }}" alt="" srcset=""></center></h5>
                                </div>
                                <div class="col-md-12">
                                  <h5>Foto Kendaraan :  <br> <center><img width="100%" src="{{ url_for('static', filename='images/kendaraan/'+dt[10]) }}" alt="" srcset=""></center></h5>
                                </div>
                                <div class="col-md-12">
                                  <h5>Foto Sertifikat Tanah :  <br> <center><img width="100%" src="{{ url_for('static', filename='images/sertifikat_tanah/'+dt[11]) }}" alt="" srcset=""></center></h5>
                                </div>
                                <div class="col-md-12">
                                  <h5>Foto STNK :  <br> <center><img width="100%" src="{{ url_for('static', filename='images/stnk/'+dt[12]) }}" alt="" srcset=""></center></h5>
                                </div>
                                <div class="col-md-12">
                                  <h5>Foto BPKB :  <br> <center><img width="100%" src="{{ url_for('static', filename='images/bpkb/'+dt[13]) }}" alt="" srcset=""></center></h5>
                                </div>
                                <div class="col-md-12">
                                  <h5>Foto Rumah :  <br> <center><img width="100%" src="{{ url_for('static', filename='images/rmh/'+dt[15]) }}" alt="" srcset=""></center></h5>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer justify-content-between">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                          <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr>
                    <td colspan="4">
                      <center>Data Anggota Tidak Ditemukan !</center>
                    </td>
                  </tr>
                  {% endif %}

                  {% if dataperempuan|length >= 5 %}
                  <tr>
                    <td colspan="4">
                      <center><a href="{{url_for('allAnggota', page=1)}}">Tampilkan Semua Anggota !</a></center>
                    </td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col-md-6 -->
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Daftar Anggota (Laki - laki)</h3>

              <div class="card-tools">
                <form action="/" method="get">
                  <div class="input-group input-group-sm" style="width: 250px;">
                    <input type="text" name="anggotalakilaki" class="form-control float-right" placeholder="Search">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Nama</th>
                    <th>Telepon</th>
                    <th>
                      <center>Aksi</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% if datalaki != () %}
                  {% set no = 1 %}
                  {% for dt in datalaki %}
                  <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{dt[1]}}</td>
                    <td>{{dt[3]}}</td>
                    <td>
                      <center><a href="" class="btn btn-info btn-sm" data-toggle="modal"
                          data-target="#modal-lg-lk{{loop.index}}">Detail</a></center>


                      <div class="modal fade" id="modal-lg-lk{{loop.index}}">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header bg-primary">
                              <h4 class="modal-title">Detail Anggota</h4>
                              <div class="">
                                <button id="downloadL{{ loop.index }}" class="btn btn-sm btn-success">Cetak PDF</button>
                                <a href="/edit/{{dt[0]}}" class="btn btn-sm btn-warning">
                                  Edit
                                </a>
                                <a href="/hapus/{{dt[0]}}" class="btn btn-sm btn-danger">
                                  Hapus
                                </a>
                              </div>
                              
                              <script>
                                document.getElementById('downloadL{{ loop.index }}').addEventListener('click', ()=>{
                                  printJS({
                                    printable: [
                                      "{{ url_for('static', filename='images/suami/'+dt[5]) }}", 
                                      "{{ url_for('static', filename='images/istri/'+dt[6]) }}", 
                                      "{{ url_for('static', filename='images/ktp/suami/'+dt[7]) }}",
                                      "{{ url_for('static', filename='images/ktp/istri/'+dt[8]) }}",
                                      "{{ url_for('static', filename='images/kk/'+dt[9]) }}",
                                      "{{ url_for('static', filename='images/kendaraan/'+dt[10]) }}",
                                      "{{ url_for('static', filename='images/sertifikat_tanah/'+dt[11]) }}",
                                      "{{ url_for('static', filename='images/stnk/'+dt[12]) }}",
                                      "{{ url_for('static', filename='images/bpkb/'+dt[13]) }}",
                                      "{{ url_for('static', filename='images/rmh/'+dt[15]) }}"
                                    ],
                                    type: 'image',
                                    header: 'File Pendukung : {{ dt[1] }}',
                                    imageStyle: 'width:50%;margin-bottom:20px;'
                                  })
                                })
                              </script>
                            </div>
                            <div class="modal-body">
                              <div class="row">
                                <div class="col-md-12"><h5><b>Data Diri</b></h5></div>
                                <div class="col-md-6">
                                  <h5>Nama :  <br> &nbsp &nbsp <b>{{dt[1]}}</b></h5>
                                </div>
                                <div class="col-md-6">
                                  <h5>Tempat Tanggal Lahir :  <br> &nbsp &nbsp <b>{{dt[2]}}</b></h5>
                                </div>
                                <div class="col-md-6">
                                  <h5>Nomor Telepon :  <br> &nbsp &nbsp <b>{{dt[3]}}</b></h5>
                                </div>
                                <div class="col-md-6">
                                  <h5>Jenis Kelamin :  <br> &nbsp &nbsp <b>
                                    {% if dt[14] == 0 %}
                                      {{'Perempuan'}}
                                    {% elif dt[14] == 1%}
                                      {{'Laki-laki'}}
                                    {% else %}
                                      {{'-'}}
                                    {% endif %}
                                  </b></h5>
                                </div>
                                <div class="col-md-12">
                                  <h5>Alamat :  <br> &nbsp &nbsp <b>{{dt[4]}}</b></h5>
                                </div>
                                <div class="col-md-12 mt-3"><h5><b>File Pendukung</b></h5></div>

                                <div class="col-md-12">
                                  <h5>Foto Suami :  <br> <center><img width="100%" src="{{ url_for('static', filename='images/suami/'+dt[5]) }}" alt="" srcset=""></center></h5>
                                </div>
                                <div class="col-md-12">
                                  <h5>Foto Istri :  <br> <center><img width="100%" src="{{ url_for('static', filename='images/istri/'+dt[6]) }}" alt="" srcset=""></center></h5>
                                </div>
                                <div class="col-md-12">
                                  <h5>Foto KTP Suami :  <br> <center><img width="100%" src="{{ url_for('static', filename='images/ktp/suami/'+dt[7]) }}" alt="" srcset=""></center></h5>
                                </div>
                                <div class="col-md-12">
                                  <h5>Foto KTP Istri :  <br> <center><img width="100%" src="{{ url_for('static', filename='images/ktp/istri/'+dt[8]) }}" alt="" srcset=""></center></h5>
                                </div>
                                <div class="col-md-12">
                                  <h5>Foto Kartu Keluarga :  <br> <center><img width="100%" src="{{ url_for('static', filename='images/kk/'+dt[9]) }}" alt="" srcset=""></center></h5>
                                </div>
                                <div class="col-md-12">
                                  <h5>Foto Kendaraan :  <br> <center><img width="100%" src="{{ url_for('static', filename='images/kendaraan/'+dt[10]) }}" alt="" srcset=""></center></h5>
                                </div>
                                <div class="col-md-12">
                                  <h5>Foto Sertifikat Tanah :  <br> <center><img width="100%" src="{{ url_for('static', filename='images/sertifikat_tanah/'+dt[11]) }}" alt="" srcset=""></center></h5>
                                </div>
                                <div class="col-md-12">
                                  <h5>Foto STNK :  <br> <center><img width="100%" src="{{ url_for('static', filename='images/stnk/'+dt[12]) }}" alt="" srcset=""></center></h5>
                                </div>
                                <div class="col-md-12">
                                  <h5>Foto BPKB :  <br> <center><img width="100%" src="{{ url_for('static', filename='images/bpkb/'+dt[13]) }}" alt="" srcset=""></center></h5>
                                </div>
                                <div class="col-md-12">
                                  <h5>Foto Rumah :  <br> <center><img width="100%" src="{{ url_for('static', filename='images/rmh/'+dt[15]) }}" alt="" srcset=""></center></h5>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer justify-content-between">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                          <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                      </div>
                      <!-- /.modal -->
                    </td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr>
                    <td colspan="4">
                      <center>Data Anggota Tidak Ditemukan !</center>
                    </td>
                  </tr>
                  {% endif %}
                  {% if datalaki|length >= 5 %}
                  <tr>
                    <td colspan="4">
                      <center><a href="{{url_for('allAnggota', page=1)}}">Tampilkan Semua Anggota !</a></center>
                    </td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col-md-6 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}